.navigation-wrapper {
  display: contents;
}
 
.navigation-container1 {
  display: contents;
}
 
.navigation-text16 {
  font-weight: 700;
}
 
.navigation-text18 {
  font-weight: 700;
}
 
.navigation-text20 {
  font-weight: 700;
}
 
.navigation-thq-navigation-item-elm1 {
  text-decoration: none;
}
 
.navigation-thq-navigation-item-elm2 {
  text-decoration: none;
}
 
.navigation-thq-navigation-item-elm3 {
  text-decoration: none;
}
 
.navigation-thq-navigation-item-elm4 {
  text-decoration: none;
}
 
.navigation-thq-navigation-avatar-elm {
  color: var(--color-on-accent);
  width: 40px;
  height: 40px;
  display: flex;
  background: var(--color-accent);
  align-items: center;
  border-radius: var(--border-radius-full);
  justify-content: center;
  text-decoration: none;
}
 
.navigation-navlink6 {
  color: #fafbfc;
  width: 103px;
  text-decoration: none;
  background-color: #c18f2a;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.database-management-fragment {
  display: contents;
}
 
.database-management-text100 {
  display: inline-block;
}

.footer-wrapper {
  display: contents;
}
 
.footer-container1 {
  display: contents;
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}

.database-management-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.database-management-fragment {
  display: contents;
}
 
.database-management-text100 {
  display: inline-block;
}
 
.database-management-thq-db-color-swatch-elm1 {
  background: #e6be8a;
}
 
.database-management-thq-db-color-swatch-elm2 {
  background: #003153;
}
 
.database-management-thq-db-color-swatch-elm3 {
  border: 1px solid var(--color-border);
  background: #ffffff;
}
 
.database-management-text135 {
  background: #e6be8a;
}
 
.database-management-text136 {
  background: #003153;
}
 
.database-management-text137 {
  border: 1px solid var(--color-border);
  background: #ffffff;
}
 
.database-management-text138 {
  background: #000000;
}
 
.database-management-container5 {
  display: none;
}
 
.database-management-container6 {
  display: contents;
}
