.navigation-wrapper {
  display: contents;
}
 
.navigation-container1 {
  display: contents;
}
 
.navigation-text16 {
  font-weight: 700;
}
 
.navigation-text18 {
  font-weight: 700;
}
 
.navigation-text20 {
  font-weight: 700;
}
 
.navigation-thq-navigation-item-elm1 {
  text-decoration: none;
}
 
.navigation-thq-navigation-item-elm2 {
  text-decoration: none;
}
 
.navigation-thq-navigation-item-elm3 {
  text-decoration: none;
}
 
.navigation-thq-navigation-item-elm4 {
  text-decoration: none;
}
 
.navigation-thq-navigation-avatar-elm {
  color: var(--color-on-accent);
  width: 40px;
  height: 40px;
  display: flex;
  background: var(--color-accent);
  align-items: center;
  border-radius: var(--border-radius-full);
  justify-content: center;
  text-decoration: none;
}
 
.navigation-navlink6 {
  color: #fafbfc;
  width: 103px;
  text-decoration: none;
  background-color: #c18f2a;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.home-fragment {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
}

.footer-wrapper {
  display: contents;
}
 
.footer-container1 {
  display: contents;
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}

.home-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.home-fragment {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
}
 
.home-thq-bar-elm1 {
  height: 60%;
}
 
.home-thq-bar-elm2 {
  height: 85%;
}
 
.home-thq-bar-elm3 {
  height: 45%;
}
 
.home-thq-bar-elm4 {
  height: 70%;
}
 
.home-text18 {
  font-weight: 700;
}
 
.home-text20 {
  font-weight: 700;
}
 
.home-thq-btn-elm25 {
  text-decoration: none;
}
 
.home-thq-btn-elm26 {
  text-decoration: none;
}
 
.home-container2 {
  display: none;
}
 
.home-container3 {
  display: contents;
}
